h1 {
  font-size: 100px;
  font-weight: normal;
  color: white;
  align-content: center;
}
html {
  font-family: verdana;
}
body {
  background-color: black
  text-align: center;
}
h2 {
  font-size: 16px;
  color: aquamarine;
}
h3
  {
    font-size: 21px;
    color: gray;
  }

.videocontainer  {
  text-align: center;
  
}
footer  {
    text-align: right;
}
